@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanks for taking the time to contact me</h2>
<p>You can always call 0784 324 7878 or email neil@neilhighley.com</p>
<p>Alternatively, Tweet me @@neilhighley, skype me at neilhighley(020 3239 7048), or post a message to me on facebook at <a href="http://www.facebook.com/neilhighley">http://www.facebook.com/neilhighley</a></p>

