@{
    ViewBag.Title = "Header";
    Layout = "~/Views/Navigation/_HeaderLayout.cshtml";
}
<h1>neilhighley.com</h1>
<p class="contactlinks"><a title="Send an email to Neil Highley" href="mailto:neil@neilhighley.com">neil@@neilhighley.com</a> | <a href="http://www.twitter.com/neilhighley" title="Send a direct message via Twitter">neilhighley@@twitter</a> | <a href="http://www.facebook.com/neilhighley" title="Post a message to Neil Highley via facebook">neilhighley@@facebook</a></p>
