<ul class="nav">
<li>@Html.RouteLink("Home", new { Controller = "Home", Action = "Index" })</li>
<li>@Html.RouteLink("Resume", new { Controller = "Home", Action = "Resume" })</li>
<li>@Html.RouteLink("Portfolio", new { Controller = "Portfolio", Action = "Index" })</li>
<li>@Html.RouteLink("Download Resume",new {Controller="Download", Action="resume",Type="pdf"})</li>
<li><a href="http://www.neilhighley.com/blog">View the blog</a></li>
</ul>

