body
{
    font-size: 12px;
    font-family: Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin:0px;
    padding:0px;
}
html,body
{
    height:100%; width:100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width:100%;
	margin: 0 auto -150px; /* the bottom margin is the negative value of the footer's height */
	
}
.footer, .push {
	height: 150px; /* .push must be the same height as .footer */
}
.push2
{
    height: auto !important;
	height: 100%;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
.footer
{
    padding-top:10px;
    width:100%;
    background-color:Red;
    color:White;
    height:auto;
    border-top:3px solid #226;
}


.footer>.nav>li
{
    float:left;
    list-style:none;
    margin-left:20px;
}
.footer>.nav>li>a
{
    color:White;
    font-weight:800;
    text-decoration:none;
}

.footer>.nav
{
    display:block;
    margin:0px auto;
    width:450px;
    text-align:center;
    color:White;
    text-decoration:none;
    clear:both;
    float:none;
    height:40px;
}
.footer>.facebook-comments
{
   margin:0px auto;
   width:500px;
   
}

.header
{
    width:100%;
    background-color:#113;
    height:55px;
    top:0px;
    padding-top:9px;
    border-bottom:3px solid #F00;
}
.header>.body
{
   
}

.header>.body>h1
{
    padding-top:5px;
    font-family:Arial;
    font-size:45px;
    font-weight:800;
    color:white;
    padding:0px;
    margin-top:0px;
    margin-bottom:-8px;
    margin-left:5px;
    line-height:20px;
}
.header>.body>.contactlinks
{
    margin-top:20px;
}
.header>.body>.contactlinks>A
{
    font-size:10px;
    font-weight:400;
    font-family:Arial;
    color:#999;
    margin-left:8px;
    text-decoration:none;
}
.header>.body>.contactlinks>A:hover
{
    color:Red;
}
.mainbody
{
   width:auto;
}
.sidebar
{
    float:left;

    padding-right:10px;
    margin-right:10px;
    height: auto !important;
	width:280px;
}
.sidebar>ul
{
    width:250px;
   display:block;
}
.sidebar>ul>li
{
    list-style:none;
    width:250px;
    display:block;
}
.sidebar>ul>li>A
{
    text-decoration:none;
    color:Black;
}
.sidebar>ul>li>A:hover
{
    color:red;
}
.sidebar>ul>li:hover
{
    color:Red;
    background-color:#CCC;
}
#facebook_badge
{
    float:right;
}
#resume-div
{
    width:100%;
}