@{
    ViewBag.Title = "Welcome to neilhighley.com!";
}

<h2>@ViewBag.Message</h2>
<p>
   Welcome to the website of neilhighley.com.
</p>
<p>This whole site has been built using the following technologies;<br />
<ul>
<li>ASP.NET 4<br />
<a target="_blank" href="http://www.asp.net">http://www.asp.net</a></li>
<li>Entity Framework 4.1<br />
<a href="http://msdn.microsoft.com/en-us/library/gg696172(v=VS.103).aspx" target="_blank">http://msdn.microsoft.com/en-us/library/gg696172(v=VS.103).aspx</a>
</li>
<li>ASP.NET MVC3<br />
<a href="http://www.asp.net/mvc" target="_blank">http://www.asp.net/mvc</a></li>
<li>Razor template engine<br />
<a href="http://msdn.microsoft.com/en-us/gg618477" target="_blank">http://msdn.microsoft.com/en-us/gg618477</a>
</li>
<li>Visual Studio 2010 SP1<br />
<a href="http://www.microsoft.com/visualstudio/en-us/" target="_blank">http://www.microsoft.com/visualstudio/en-us/</a>
</li>
</ul></p>

