@{
    ViewBag.Title = "ItemUpdated";
    Layout = "_PortfolioLayout.cshtml";
}

<h2>Item Updated</h2>
@Html.RouteLink("Back to the Portfolio page", new { Controller = "Portfolio", Action = "Index" })

